
html {
    width: 100%;
    height: auto;
    text-align: center;
}

body {
    width: 100%;
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.7vw;
}

/* text */
.s-text-blue {
    color: #0C5FE5;
    text-decoration: none;
}

.s-text-orange {
    color: #F4752C;
    text-decoration: none;
}

/* arrow */
.s-up-arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.095em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

/* arrow */
.s-down-arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.095em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

/** Button Style **/
.s-button {
    width: fit-content;
    height: fit-content;
    display: block;
    color: #333333;
    background-color: #FFFFFF;
    border: #333333 solid 3px;
    border-radius: 50px;
    box-shadow: 11px 10px 1px #33333380;
    padding: 0.6em 1em 0.6em 1.5em;
    font-size: 1.8vw;
    user-select: none;
    text-decoration: none;
}

.s-button:hover {
    box-shadow: 6px 5px 1px #33333380;
    position: relative;
    top: 5px;
    left: 5px;
    transition: top 0.3s ease;
}

.s-button > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;
    font-size: 1.2vw;
}

.s-button:hover {
    box-shadow: 0px;
}

.s-button > p > span {
    width: 0.7em;
    height: 0.7em;
}

/** H3 Style **/
.s-list-style3 {
    font-size: 1.5vw;
    font-weight: normal;
    font-style: normal;
}

.s-list-style3:before {
	content:'●';
	color: #000000;
}

/** H4 Style **/
.s-list-style4 {
    font-size: 1.2vw;
    font-weight: normal;
    font-style: normal;
}

.s-list-style4:before {
	content:'●';
	color: #000000;
}

/** list **/
ul {
    text-align: left;
    font-size: 1vw;
}

ul li::marker {
    color: #000000;
    font-size: 0.6rem;
}

ul li {
    text-indent: -0.3em;
}

/** tooltip **/
.bubble-top {
    position: relative;
    display: inline-block;
    margin: 1.3em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    border-radius: 7px;
    text-align: center;
    background: #FFF37E;
    user-select: none;
}

.bubble-top:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 10%;
    margin-left: -0px;
    border: 5px solid transparent;
    border-bottom: 25px solid #FFF37E;
}

.bubble-top p {
    margin: 0;
    padding: 0;
}