
html {
    width: 100%;
    height: auto;
    text-align: center;
}

body {
    width: 100%;
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.7vw;
}

/* text */
.s-text-blue {
    color: #0C5FE5;
    text-decoration: none;
}

.s-text-orange {
    color: #F4752C;
    text-decoration: none;
}

/* arrow */
.s-up-arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.095em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

/* arrow */
.s-down-arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.095em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}


.s-button {
    width: fit-content;
    height: fit-content;
    display: block;
    color: #333333;
    background-color: #FFFFFF;
    border: #333333 solid 3px;
    border-radius: 30px;
    box-shadow: 11px 10px 1px #33333380;
    padding: 0.8em 1em 0.8em 1.5em;
    font-size: 1.8vw;
    user-select: none;
    text-decoration: none;
}

.s-button:hover {
    box-shadow: 6px 5px 1px #33333380;
    position: relative;
    top: 5px;
    left: 5px;
    transition: top 0.3s ease;
}

.s-button > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;
    font-size: 1.2vw;
}

.s-button:hover {
    box-shadow: 0px;
}

.s-button > p > span {
    width: 0.7em;
    height: 0.7em;
}

.s-list-style {
    font-size: 1.5vw;
}

.s-list-style:before {
	content:'â—';
	color: #000000;
}