.s-about-outer {
    width: 100%;
    background-color: #0C5FE5;
    padding: 3vw 5vw;
    box-sizing: border-box;
    user-select: none;
}

.s-about-outer > div > img {
    width: 11vw;
    height: auto;
}

.s-about-inner {
    display: flex;
    text-align: left;
    margin: 5vh 0;
    box-sizing: border-box;
    align-items: stretch;
}

.s-about-right {
    width: 50%;
    color: #FFFFFF;
    margin: 0 2.8vw;
    padding: 1vw 0;
}

.s-about-right img:first-of-type {
    display: initial;
}

.s-about-right img:last-of-type {
    display: none;
}

.s-about-right > img {
    width: 100%;
}

.s-about-left {
    width: 50%;
    color: #FFFFFF;
    margin: 0 2.8vw 0 8vw;
    display: flex;
    flex-direction: column;
}

.s-about-left > H2 {
    line-height: 3vw;
    font-size: max(20px, 2.5vw);
    font-weight: normal;
}

.s-about-desc {
    margin-top: 3vh;
}

.s-about-left > div > p {
    font-size: max(8px, 1.3vw);
}

.s-about-btarea {
    width: fit-content;
    margin-top: auto;
}


/* smartphone */
@media screen and (max-width: 800px) {

    .s-about-outer > div > img {
        width: auto;
        margin: 3em 0;
    }

    .s-about-inner {
        width: 80%;
        margin: 0 auto 4em auto;
        line-height: normal;
        flex-direction: column;
    }

    .s-about-left > H2 {
        line-height: normal;
        font-size: xx-large;
        font-weight: normal;
    }

    .s-about-left {
        width: 100%;
        margin: 0 auto;
    }

    .s-about-left > div > p {
        font-size: medium;
    }

    .s-about-right {
        width: 100%;
        margin: 0 auto;
    }

    .s-about-right img:first-of-type {
        display: none;
    }

    .s-about-right img:last-of-type {
        display: initial;
    }

    .s-about-btarea {
        width: 100%;
    }

    .s-about-btarea > .s-button {
        margin: 3.5em auto;
    }

}