.s-nav-inner {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.s-nav-inner > ul{
    margin: 0 0;
    padding: 1vh 1vw;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme2);
    justify-content: space-around;
}
.s-nav-inner > ul > li {
    width: auto;
    height: 5.6vw;
    margin: 0 1.5vw;
    font-size: max(12px, 1.4vw);
    align-content: center;
    list-style: none;
    display: inline-block;
    overflow-wrap: normal;
    text-wrap: nowrap;
}

/** webkit
_::-webkit-full-page-media, _:future, :root .s-nav-inner > ul > li {
    height: 3.6vw;
	padding-top: 2vw;
}
**/

.s-nav-inner > ul > li > a > span {
    margin-left: 2.3vw;
}

.s-nav-inner > ul > li > a:hover{
    opacity:0.7;
}

.s-nav-inner > ul > li > a:hover span.s-up-arrow {
    position: relative;
    top: -1px;
    transition: top 0.3s ease;
}

.s-nav-inner > ul > li > a:hover span.s-down-arrow {
    position: relative;
    top: 1px;
    transition: top 0.3s ease;
}

@media screen and (min-width:800px) {
    .s-nav-inner > ul {
        justify-content: center;
    }
}